:root {
  --basic-blue: #81B3D2;
  --basic-white: #FFFFFF;
  --light-grey: #EEEEEE;
  --basic-black: #000000;
  --brown: #766357;
  --neutral: #F2F2F2;
  --grey-black: #333333;
  --background:#FFFFFF;
}
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--background);
  background-position: top center;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.main-navigation {
  font-size: 14px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-navigation-wrapper {
  background-color: var(--basic-blue);
}
.site-navigation {
  list-style: none;
}
.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

/* site navigation */

.site-navigation a{
  color: var(--basic-black);
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-blue);
}

/* Main-part */
.tagline {
  text-align: center;
  font-size: 21px;
  background-color:var(--basic-white);

}
.reasons {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background-color:var(--basic-white);
}
/* Почему-то не встает. В чем мб проблема? */
.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid black;
}
/* Почему h2 нельзя отцентровать?*/
.interes {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background-color:var(--basic-white);

}
.appointment-info {
  font-weight: bold;
  text-align: center;

}

/* Button */
.button-search {
 font: inherit;
 width: 568px;
 height: 86px;
 background-color:var(--brown);
 text-transform: uppercase;
 text-align: center;
 color:var(--basic-white);
 font-weight: bold;
 font-size: 21px;
 border: none;
}
.button-search:hover,
.button-search:focus,
.button-search:active {
  background-color: var(--neutral);
  cursor: pointer;
}
.button-search.disabled,
.button-search:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--black-grey);
}
.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  width: 458px;
  height: 58px;
  font-weight: bold;
  font-size: 21px;
}
.button:hover,
.button:focus,
.button:active {
 background-color: var(--neutral);
 cursor: pointer;
}
.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--black-grey);
}
/* Appointment */
.appointment-item input {
  font: inherit;
  background-color: var(--neutral);
  width: 346px;
  height: 38px;
}

.appointment-item input:focus {
  border-color: var(--basic-white);
}
.children input {
  width: 114px;
  height: 38px
}
.adults input[type="button"] {
  width: 114px;
  height: 38px
}
/* hotels */
.details {
  font: inherit;
  width: 110px;
  height: 27px;
  background-color:var(--basic-blue);
  text-transform: uppercase;
  text-align: center;
  color:var(--basic-white);
  font-weight: 700;
  border: none
}
.booking {
  font: inherit;
  width: 142px;
  height: 27px;
  background-color:var(--brown);
  text-transform: uppercase;
  text-align: center;
  color:var(--basic-white);
  font-weight: 700;
  border: none
}
.details:hover,
.details:focus,
.details:active {
background-color: var(--neutral);
cursor: pointer;
}
.details.disabled,
.details:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--black-grey);
}
.booking:hover,
.booking:focus,
.booking:active {
 background-color: var(--neutral);
 cursor: pointer;
}
.booking.disabled,
.booking:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--black-grey);
}
.ratio {
  text-align: center;
  width: 110px;
  height: 27px;
  background-color:var(--neutral);
}

/* Footer */

.main-footer {
 color: var(--basic-black);
 background-color: var(--basic-white);
}

.footer-contacts {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
}
a[href^="tel:"] {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
}
.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}
/* Почему-то не работают кнопки. Мне кажется тут ошибка...*/
a .social-button:hover,
a .social-button:focus,
a .social-button:active {
  background-color:var(--basic-white);
}


.footer-copyright {
 text-align: center;
 font-weight: 400;
 font-size: 14px;
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
background-color:var(--basic-blue);
cursor: pointer;
}
