:root {
	--basic-blue: #81B3D2;
	--basic-white: #FFFFFF;
	--light-grey: #EEEEEE;
	--basic-black: #000000;
	--brown: #766357;
	--neutral: #F2F2F2;
	--grey-black: #333333;
	--background: #888888;
	--blue-grey: #E5E5E5;
	--blue-hover: #669EC0;
	--blue-push: #5496BD;
	--light-brown: #BDBBBC;
	--milk-chocolate: #604E43;
	--dark-chocolate: #503E33;
	--neutral-hover: #EBEBEB;
	--brown-grey: #666666;
	--silver: #ABABAB;
	--blue-brown: #6A6A6A;
}

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 700;
	color: var(--basic-black);
	background-color: var(--neutral);
	background-position: top center;


}

.container {
	box-sizing: border-box;
	width: 1280px;
	margin: 0 auto;
	padding: 0 40px;
}

.text-center {
	text-align: center;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;

}


/* Main navigation*/

.main-navigation {
	font-size: 14px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	text-transform: uppercase;
}


/* site navigation */

.site-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding-left: 72px;
	padding-right: 72px;
	min-height: 58px;
	list-style: none;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);

}

/ .site-navigation-current a:not([href]) {
	background-color: var(--basic-black);
}

.Selections:nth-child(2) {
	margin-right: 130px;
}

.Selections:nth-child(3) {
	margin-left: 100px;
}

.site-navigation a {
	color: var(--basic-black);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: var(--basic-blue);
}

.site-navigation a:active {
	color: var(--basic-black);
	opacity: 0.3;
}


/* Logo */

.main-header-logo {
	width: 138px;
	height: 70px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}


/* Main-part */
.main-part {
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.introduction {
	font-size: 21px;
	background-color: var(--basic-white);
	text-transform: uppercase;
	padding-top: 43px;
	margin-top: -5px;
}

.tagline {
	font-size: 21px;
	background-color: var(--basic-white);
	text-transform: uppercase;
	padding-top: 28px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 25px;
}

.abstract {
	position: relative;
}

.abstract::before {
	position: absolute;
	content: " ";
	background-image: url("../img/pices.png");
	width: 100%;
	height: 57px;
	background-repeat: no-repeat;
	bottom: 29.5%;
}

.reasons {
	font-size: 14px;
	font-weight: 400;
	background-color: var(--basic-white);
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 51px;
	margin-bottom: 0;
	margin-top: -21px;

}

.order {
	color: var(--basic-black);
	background-color: var(--basic-white);
	text-transform: uppercase;
	padding-top: 57px;
	margin-top: -14px;
}

.interes {
	line-height: 24px;
	font-size: 30px;
	font-weight: 700;
	background-color: var(--basic-white);
	text-transform: uppercase;
	margin-top: 0;
}

.appointment-info {
	font: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 45px;
}


/* Button */

.button-search {
	font: inherit;
	padding-left: 140px;
	padding-right: 138px;
	padding-top: 28px;
	padding-bottom: 28px;
	background-color: var(--brown);
	color: var(--basic-white);
	font-weight: 700;
	font-size: 21px;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	max-width: 568px;

}

.button-search:hover,
.button-search:focus {
	background-color: var(--milk-chocolate);
	cursor: pointer;
}

.button-search:active {
	background-color: var(--dark-chocolate);
	cursor: pointer;
}

.button-search.disabled,
.button-search:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: var(--dark-chocolate);
}

.map {
	background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;

  padding-bottom: 200px;

}

/* Appointment*/

.formsearch {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 55px;
	padding-bottom: 52px;
	padding-right: 35px;
	padding-left: 55px;
	background-color: var(--basic-white);
	text-transform: uppercase;
	color: var(--basic-black);
	margin: auto;
	box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
	max-width: 568px;

}

.appointment-item {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
}

.appointment-item input {
	font: inherit;
	background-color: var(--neutral);
	padding-left: 13px;
	padding-right: 175px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 30px;
	margin-left: 10px;
	text-transform: uppercase;
	border: none;
}

.appointment-item input:hover {
	background-color: var(--neutral-hover);
}

.appointment-item input:focus {
	border: 2px solid var(--blue-grey);
	background-color: var(--basic-white);
}

.numbers {
	display: flex;
	flex-wrap: wrap;
}

.appointment-number {
	display: flex;
	flex-wrap: wrap;
}

.appointment-number input {
	font: inherit;
	background-color: var(--neutral);
	border: none;
	margin-bottom: 54px;
}

.appointment-number input:hover {
	background-color: var(--neutral-hover);
}

.appointment-number input:focus {
	border: 2px solid var(--blue-grey);
	background-color: var(--basic-white);
}

.appointment-number button {
	width: 38px;
	height: 38px;
	border: none;
	padding: 0;
}

.adults>.minus {
	margin-left: 8px;
}

.children>.minus {
  margin-left: 5px;
}

.children label {
	margin-top: 7px;
	padding-right: 24px;
	margin-left: 52px;
}

.children input {
	text-transform: uppercase;
	width: 38px;
	height: 38px;
	padding: 0;
	text-align: center;
}

.adults label {
	margin-top: 7px;
	padding-right: 27px;
}

.adults input {
	text-transform: uppercase;
	width: 38px;
	height: 38px;
	padding: 0;
	text-align: center;
}

.calendar {
	width: 21px;
	height: 23px;
	background-color: var(-neutra);
	position: relative;
	right: 35px;
	top: 5px;
}

.calendar:hover,
.calendar:focus {
	background-color: var(--neutral);
}

.calendar:hover path,
.calendar:focus path {
	fill: var(--basic-black);
	cursor: pointer;
}

.calendar:active {
	fill: var(--basic-white);
	cursor: pointer;
}

.calendar:active path {
	fill: var(--basic-blue);
}

.minus {
	position: relative;
	margin-left: 0;
}

.minus::before {
	content: "";
	position: absolute;
	background-image: url("../img/minus.svg");
	width: 11px;
	height: 11px;
	background-repeat: no-repeat;
	background-position: 0 0;
	left: 15px;
}

.minus:hover::before,
.minus:focus::before {
	background-image: url("../img/Rectangle-black.svg");
	cursor: pointer;
}

.minus:active::before {
	background-image: url("../img/Rectangle-blue.svg");
	cursor: pointer;
}

.exp {
	padding-right: 30px;
}

.plus {
	position: relative;
}

.plus::before {
	content: " ";
	position: absolute;
	background-image: url("../img/plus.svg");
	width: 11px;
	height: 11px;
	background-repeat: no-repeat;
	background-position: 0 0;
	left: 15px;
	bottom: 12px;
}

.plus:hover::before,
.plus:focus::before {
	background-image: url("../img/Union-black.svg");
	cursor: pointer;
}

.plus:active::before {
	background-image: url("../img/Union-blue.svg");
	cursor: pointer;
}

.button {
	font: inherit;
	color: var(--basic-white);
	vertical-align: middle;
	text-transform: uppercase;
	background-color: var(--basic-blue);
	border: none;
	padding-left: 194px;
	padding-right: 197px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 700;
	font-size: 21px;
	margin-left: -25px;
}

.button:hover,
.button:focus {
	background-color: var(--blue-hover);
	cursor: pointer;
}

.button:active {
	background-color: var(--blue-push);
	cursor: pointer;
}

.button.disabled,
.button:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: var(--blue-push);
}


/* hotels */

.rent {
	padding-bottom: 30px;
}

.reservation {
	border-bottom: 1px solid var(--blue-grey);
	text-transform: uppercase;
}

.hotel-card {
	display: flex;
	flex-direction: row;
	padding-left: 73px;
	padding-right: 71px;
	border-bottom: 1px solid var(--blue-grey);
	background-color: var(--basic-white);
}

.hotel-information {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hotel-picture {
	/*Вопрос по картинке. Почему на пиксель перфекте показывает что картинка больше.
     С масштабом все в порядке,с параметрами тоже.
     В фигме проверила*/
	margin-right: 29px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.hotel-name {
	margin-top: 24px;
	margin-bottom: 30px;
}

.choice {
	display: flex;
	flex-direction: row;
	margin-bottom: -5px;
	margin-top: -7px;
}

.hotel-link {
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px color:var(--basic-black);
}

.hotel-link:hover,
.hotel-link:focus {
	color: var(--basic-blue);
	cursor: pointer;
}

.hotel-link:active {
	color: var(--basic-black);
	cursor: pointer;
	opacity: 0.3;
}

.hotel-price {
	color: var(--grey-black);
	font-style: 400;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}

.hotel-type {
	color: var(--grey-black);
	font-style: 400;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	max-width: 50px;
	margin-right: 70px;
}

.details-hotels {
	font: inherit;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 16px;
	padding-right: 17px;
	margin-right: 3px;
	background-color: var(--basic-blue);
	text-transform: uppercase;
	color: var(--basic-white);
	font-weight: 700;
	font-style: normal;
	border: none
}

.details-hotels:hover,
.details-hotels:focus {
	background-color: var(--blue-hover);
	cursor: pointer;
}

.details-hotels:active {
	background-color: var(--blue-push);
	cursor: pointer;
}

.booking-apartments {
	font: inherit;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 16px;
	padding-right: 17px;
	background-color: var(--brown);
	text-transform: uppercase;
	color: var(--basic-white);
	font-weight: 700;
	font-style: normal;
	border: none
}

.booking-apartments:hover,
.booking-apartments:focus {
	background-color: var(--milk-chocolate);
	cursor: pointer;
}

.booking-apartments:active {
	background-color: var(--dark-chocolate);
	cursor: pointer;
}

.hotel-rating {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.stars {
	margin-top: 29px;
}

.ratio {
	background-color: var(--neutral);
	text-transform: uppercase;
	color: var(--brown-grey);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-right: 12px;
	padding-top: 3px;
	margin-bottom: 30px;
	margin-top: 47px;
}


/* Footer */

.main-footer {
	width: 1200px;
	color: var(--basic-black);
	background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);

}
.page-footer{
	background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 2650px;
}

.company-information {
	display: flex;
	justify-content: space-between;
  margin-top: -1px;
}

footer>.company-information {
	padding-left: 111px;
	padding-right: 138px;
	padding-top: 23px;
	padding-bottom: 36px;
	/*outline: 5px solid rgba(0, 255, 255, 0.7);
	outline-offset: -5px;*/
}

.footer-contacts {
	text-align: center;
	line-height: 26px;
	font-weight: 700;
	font-size: 21px;
	color: var(--basic-black);
	text-transform: uppercase;
	margin-right: 163px;
}

.heshtag {
	margin-top: 0;
}

.phone {
	margin-top: -5px;
	margin-bottom: 0;
}

a[href^="tel:"] {
	color: var(--basic-black);
	font-weight: 700;
	font-size: 21px;
	text-transform: uppercase;
}

.footer-social {
	width: 200px;
	margin-left: 0;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	width: 151px;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: -25px;
	padding: 0;
	padding-left: 26px;
}

.social-button {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: inherit;
	width: 46px;
	height: 48px;
	background-color: var(--basic-blue);
}

.social-button:hover,
.social-button:focus {
	background-color: var(--blue-hover);
}

.social-button:hover path,
.social-button:focus path {
	fill: var(--basic-white);
}

.social-button:active {
	fill: var(--blue-push);
	opacity: 0.3;
}

.social-button:active path {
	fill: var(--basic-white);
	opacity: 0.3;
}

.footer-copyright {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 165px;
}

.academy {
	padding-left: 8px;
	margin-top: 15px;
}

.develop {
	margin-top: 30px;
}

.academy:hover,
.academy:focus {
	background-color: var(--basic-white);
}

.academy:hover path,
.academy:focus path {
	fill: var(--basic-blue);
	cursor: pointer;
}

.academy:active {
	fill: var(--basic-white);
	cursor: pointer;
}

.academy:active path {
	fill: var(--light-brown);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Вторая часть */

.dignity-first {
	display: flex;
	text-align: center;
}

.explanation-first {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: var(--basic-blue);
	padding-right: 51px;
	padding-left: 52px;
	max-height: 256px;
	color: var(--basic-white);
	text-transform: uppercase;
	margin-bottom: 0;
}

.city {
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 21px;
	margin-top: 47px;
	margin-bottom: 25px;
}

.city-number {
	font: inherit;
	margin-top: 0;
	margin-bottom: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}

.city-explanation {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	margin-top: 23px;
}

.features-list {
	background-color: var(--basic-white);
	text-align: center;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1200px;
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 0px;
	margin-bottom: 0;
	margin-top: -6px;
}

.reasons-more {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	padding-bottom: 82px;
	margin-bottom: 0;
	margin-top: 0;
}

.reasons-more-second {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	margin-top: 23px;
	margin-bottom: 54px;
}

.dignity-second {
	display: flex;
	text-align: center;
}

.explanation-second {
	display: flex;
	flex-direction: column;
	background-color: var(--basic-blue);
	text-transform: uppercase;
	color: var(--basic-white);
	padding-right: 50px;
	padding-left: 49px;
	max-height: 256px;
	max-width: 400px;
	margin-bottom: 0;
}

.features-second {
	background-color: var(--light-grey);
	padding-top: 37px;
	margin-top: -6px;
	padding-bottom: 5px;
}


/*Почему-то в мозиле этот блок разваливается. Не могу найти ошибку...С чем это может быть связано?*/

.features-list-second {
	text-align: center;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.tagline-second {
	font-size: 21px;
	text-transform: uppercase;
	background-color: var(--light-grey);
	margin-top: 0;
	margin-bottom: 25px;
}

.searching {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: var(--basic-white);
	justify-content: flex-start;
	border-bottom: 1px solid var(--blue-grey);
	margin-bottom: 0;
	padding-left: 73px;
	padding-right: 73px;
	padding-bottom: 31px;
}

.search h2 {
	margin: 0;
	margin-right: 46px;
	padding-top: 29px;
}

.sort {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 31px;
}

.about-price:hover,
.about-price:focus {
	color: var(--basic-blue);
	border-bottom: 1px dashed var(--basic-blue);
	cursor: pointer;
}

.about-price:active {
	color: var(--basic-black);
	cursor: pointer;
}

.parametrs {
	padding-right: 32px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-blue);
}

.more {
	color: var(--basic-black);
	opacity: 0.3;
	border-bottom: 1px dashed var(--basic-blue);
}

.more:hover,
.more:focus {
	color: var(--basic-blue);
	cursor: pointer;
	opacity: 1;
}

.more:active {
	color: var(--basic-black);
	cursor: pointer;
	opacity: 1;
	border: none;
}

.sorting {
	padding-right: 40px;
	font-style: normal;
	font: inherit;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}


/* Стрелки вверх-вниз */

.arrows {
	position: relative;
}

.icon-up::before {
	content: "";
	position: absolute;
	background-image: url("../img/icon-up-dir.svg");
	width: 11px;
	height: 10px;
	background-repeat: no-repeat;
	background-position: 0 0;
	left: 470px;
	bottom: 5px;
}

.icon-up:hover::before,
.icon-up:focus::before {
	background-image: url("../img/icon-up-black.svg");
	cursor: pointer;
}

.icon-up:active::before {
	background-image: url("../img/icon-up-blue.svg");
	cursor: pointer;
}

.icon-down::before {
	content: "";
	position: absolute;
	background-image: url("../img/icon-down-dir.svg");
	width: 11px;
	height: 10px;
	background-repeat: no-repeat;
	left: 495px;
	bottom: 5px;
}

.icon-down:hover::before,
.icon-down:focus::before {
	background-image: url("../img/icon-down-black.svg");
	cursor: pointer;
}

.icon-down:active::before {
	background-image: url("../img/icon-down-blue.svg");
	cursor: pointer;
}


/* Форма настороек параметров гостиниц */

.form-settings {
	background-image: url("../img/blur.jpg");
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	max-height: 217px;
}

.settings {
	display: flex;
	flex-wrap: wrap;
	margin-left: -100px;
	margin-top: 26px;
}

.form-settings fieldset {
	padding: 0;
	margin: 0;
}

.form-settings ul {
	font: inherit;
	list-style: none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: var(--basic-white);
	text-transform: uppercase;
}

.type-of-house {
	margin-left: 107px;
}

.decision {
	font: inherit;
	color: var(--basic-white);
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
}

.filters {
	margin-top: 24px;
	margin-bottom: 0;
}

.form-settings fieldset {
	border: none;
}

.type-of-house fieldset {
	margin-left: 20px;
}

.filter-input-checkbox:hover+label,
.filter-input-checkbox:focus+label {
	color: var(--basic-blue);
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
	padding-bottom: 25px;
}

.filter-input-checkbox+label::before {
	content: "";
	position: absolute;
	left: -42px;
	top: 0;
	width: 18px;
	height: 18px;
	border: 2px solid var(--basic-white);
	border-radius: 2px;
}

.filter-input-checkbox:disabled+label::before {
	border: 2px solid var(--blue-brown);
}

.filter-input-checkbox:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  width: 26px;
  height: 23px;

}

.filter-input-checkbox:checked+label::after {
	content: "";
	position: absolute;
	top: 1px;
	left: -38px;
	width: 23px;
	height: 18px;
	background-image: url("../img/Shape.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-checkbox:checked:disabled+label::after {
	background-image: url("../img/Shape-2.svg");
}

.show {
	font: inherit;
	padding-left: 35px;
	padding-right: 34px;
	padding-top: 7px;
	padding-bottom: 8px;
	color: var(--basic-white);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	border: 2px solid var(--basic-white);
	border-radius: 2px;
	text-transform: uppercase;
	background-color: transparent;
	margin-bottom: 32px;
	margin-top: -30px;
	margin-left: 90px;
}

.show:hover,
.show:focus {
	background-color: var(--basic-white);
	color: var(--basic-black);
	border: 2px solid var(--basic-white);
	border-radius: 2px;
	cursor: pointer;
}

.show:active {
	background-color: var(--basic-white);
	color: var(--basic-black);
	border: 2px solid var(--basic-white);
	border-radius: 2px;
	cursor: pointer;
}


/* Ползунок */

.toddler {
	margin-right: -30px;
}

.filter-item {
	margin: 0;
	padding: 0;
	border: none;
}

.range-filter {
	width: 260px;
	margin-top: 49px;
}

.range-controls {
	position: relative;
	height: 41px;
	padding-top: 19px;
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;
	background: var(--basic-white);
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: var(--basic-white);
	opacity: 0.3;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--basic-white);
	background-color: var(--silver);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--silver);
	cursor: pointer;
}

.range-controls .toggle:hover {
	border: 10px solid var(--basic-white);
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 150px;
}

.price-for-day {
	font: inherit;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	color: var(--basic-white);
	padding-top: 26px;
}

.price-controls {
	display: flex;
	justify-content: space-around;
	color: var(--basic-white);
	font-style: normal;
	font: inherit;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	border: 2px solid var(--basic-white);
	border-radius: 2px;
	text-transform: uppercase;
	margin-top: -40px;
	width: 317px;
	height: 36px;
}

.min-price {
	margin-left: -10px;
}

.max-price {
	margin-right: -13px;
}

.price-controls label {
	text-transform: uppercase;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 16px;
}

.price-controls input {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	color: var(--basic-white);
	border: none;
	border-radius: 5px;
	font: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	background-color: transparent;
	margin-bottom: 8px;
	margin-top: -5px;
}

.min-price input {
	width: 10px;
}

.max-price input {
	width: 35px;
}

.price-controls {
	position: absolute;
}

.price-controls::after {
	position: absolute;
	content: " ";
	background-image: url("../img/cafe.jpg");
	width: 2px;
	height: 22px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-repeat: no-repeat;
	bottom: 25%;
}
